@model Projektarbete2.Models.ViewModels.CreateBookingViewModel;

<div class="row">
    <div class="col-md-5">
        <form asp-action="Create" Method="post">
            <div class="form-group">
                <label class="control-label">Granny</label>
                <select class="form-control" asp-for="Booking.GrannyID"
                        asp-items="@(new SelectList(Model.Grannies, "ID", "FirstName"))">
                    <option>Select Granny</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">From</label>
                <input class="form-control" asp-for="Booking.From" />

            </div>
            <div class="form-group">
                <label class="control-label">To</label>
                <input class="form-control" asp-for="Booking.To" />

            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Create Booking" />
            </div>
        </form>
    </div>
</div>